node_modules/
resources/public/js
resources/public/css
resources/tests

/out
/checkouts
/src/gen

.clj-kondo/.cache
.lsp/.cache
.cpcache

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
