;; shadow-cljs configuration
{:deps   {:aliases [:dev]}

 :dev-http {5000 ["resources/public"]
            5001 ["resources/tests"]}

 :builds {:app {:target           :browser
                :devtools         {:preloads [{{top/ns}}.{{main/ns}}.dev.refresh]
                                   :reload-strategy :full}
                :output-dir       "resources/public/js"
                :asset-path       "/js"
                :dev              {:modules {:core {:init-fn {{top/ns}}.{{main/ns}}.dev.core/init}}}
                :release          {:modules {:core {:init-fn {{top/ns}}.{{main/ns}}.core/init}}}
                :compiler-options {:install-deps true}}

          :tests {:target    :browser-test
                  :test-dir  "resources/tests"
                  :ns-regexp "-test$"}

          :ci-tests {:target           :karma
                     :output-to        "resources/tests/ci.js"
                     :ns-regexp        "-test$"
                     :compiler-options {:static-fns false}}}}
